<%= form_for @locations_directory, url: admin_locations_path, method: 'get', html: { class: 'inline l-filter-form' } do |f| %>
  <ul class="pagination-atoz">
    <% (?A..?Z).each do |letter| %>
      <li class="pagination-atoz__letter t-pagination__letter">
        <%=
          radio_button_tag(
              :letter,
              letter,
              letter == @sorting_params[:currentField],
              disabled: letter != @sorting_params[:currentField] &&
                        !@sorting_params[:availableLetters].include?(letter),
              class: 'pagination-atoz__checkbox js-submit-form'
          )
        %>
        <%= label_tag :"letter_#{letter}", letter, class: 'pagination-atoz__label' %>
      </li>
    <% end %>
  </ul>

  <label class="l-filter-form__display-label">Display:</label>

  <%= f.label nil, class: 'l-filter-form__checkbox-label' do %>
    <%= f.check_box(:display_active, class: 'js-submit-form' ) %>
    Active Locations
  <% end %>

  <%= f.label nil, class: 'l-filter-form__checkbox-label' do %>
    <%= f.check_box(:display_hidden, class: 'js-submit-form') %>
    Hidden Locations
  <% end %>

  <%= f.submit 'Update', class: 'btn btn-default l-filter-form__submit t-filter-submit' %>
<% end %>
<%= form_for @locations_directory, url: admin_locations_path(format: :csv), method: :get, html: { class: 'inline' } do |f| %>
  <%= f.hidden_field :display_active %>
  <%= f.hidden_field :display_hidden %>
  <%= f.submit 'Export CSV', class: 'btn btn-default t-export-csv' %>
<% end %>
