<table class="table table-striped">
  <tr>
    <td class="location-details-table__fixed-width-column">Address:</td>
    <td class="t-address">
      <%- location.address_lines.to_a.each do |address_line| %>
        <%= address_line %><br/>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Booking hours:</td>
    <td class="t-booking_hours">
      <%- location.hours && location.hours.split("\n").each do |hours_line| %>
        <%= hours_line %><br/>
      <% end %>
    </td>
  </tr>
  <%- if location.booking_location %>
    <tr>
      <td>Booking location:</td>
      <td class="t-booking-location <%= location_visibility_class(location.booking_location) %>">
        <%= link_to(location.booking_location.title, edit_admin_location_path(location.booking_location.uid)) %>
      </td>
    </tr>
    <tr>
      <td>Direct number:</td>
      <td class="t-telephone_number"><%= location.canonical_location.phone %></td>
    </tr>
  <% else %>
    <tr>
      <td>Direct number:</td>
      <td class="t-telephone_number"><%= location.phone %></td>
    </tr>
  <% end %>
  <tr>
    <td>External number:</td>
    <td><%= location.twilio_number %></td>
  </tr>
  <% if location.online_booking_twilio_number.present? %>
    <tr>
      <td>Online booking number:</td>
      <td><%= location.online_booking_twilio_number %></td>
    </tr>
  <% end %>
  <tr>
    <td>Status:</td>
    <td class="t-visibility <%= location_visibility_class(location) %>">
      <%= location.hidden ? 'Hidden' : 'Active' %>
    </td>
  </tr>
  <tr>
    <td>Last updated:</td>
    <td>
      <%= location.editor.name %> at
      <%= location.created_at.localtime.to_s(:govuk_date_short) %>
    </td>
  </tr>
</table>
