<div class="row">
  <div class="col-md-12">
    <h1>Locations Directory</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render partial: 'directory_filter' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%- if @locations.empty? %>
      <p class="no-content t-notice">No locations available with those filter options.</p>
    <% end %>
    <%- @locations.each do |location| %>
      <div class="row t-location" id="location-<%= location.uid %>">
        <div class="col-md-11">
          <h2 class="inline-block t-location-title">
            <%= location.title %>
          </h2>
          <%= render 'admin/locations/labels', location: location %>
          <%= render location %>
        </div>
        <div class="col-md-1">
          <br>
          <%= link_to 'Edit', edit_admin_location_path(location.uid), class: 'btn btn-default t-edit-button' %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
