<div class="row">
  <div class="col-md-12">
    <h1 class="t-location-title inline-block">Location - <%= @location.title %></h1>
    <%= render 'admin/locations/labels', location: @location %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render @location %>
    <% if policy(@location).admin? %>
      <h3>Guiders</h3>
      <table class="table">
        <thead>
          <tr>
            <th class="location-details-table__fixed-width-column">Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @location.guiders.each do |guider| %>
            <tr>
              <td><%= guider.name %></td>
              <td><%= guider.email %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
    <%= link_to 'Edit location', edit_admin_location_path(@location.uid), class: 'btn btn-default t-edit-button' %>
    <% if policy(@location).admin? %>
      <%= link_to 'Edit guiders', admin_location_guiders_url(@location.uid), class: 'btn btn-success' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>Child locations</h3>
    <% @location.locations.current.each do |location| %>
      <p>
        <%= link_to admin_location_path(location.uid) do %>
          <%= location.title %>
          <%= '(Hidden)' if location.hidden? %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
