<% content_for :head do %>
  <%= stylesheet_link_tag 'admin/application', media: 'all' %>
<% end %>

<% content_for :navbar_right do %>
  <%= link_to current_user.name, Plek.current.find('signon') %>
  &bull; <%= link_to 'Sign out', gds_sign_out_path %>
<% end %>

<%= content_for :app_title do %>
  CAB Locator
<% end %>

<%= content_for :navbar_items do %>
  <li>
    <%= link_to 'Directory', admin_locations_path %>
  </li>
<% end %>

<% content_for(:content) do %>
  <%= render 'shared/alerts' %>
  <%= yield %>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag 'admin/application' %>
<% end %>

<%= render template: 'layouts/govuk_admin_template' %>
