<%- edited_location.edits.each do |created_at, edits| %>
  <div class="panel panel-default">
    <a data-toggle="collapse" data-parent="#activities" href="#collapse-<%= edited_location.uid %>-<%= created_at.to_i %>" class="activity panel-heading">
      <div class="activity-details">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <b><%= edits.first.editor.name %></b>
        <% if edits.first.action == 'edit' %>
          changed the <%= edits.map(&:field).sort.to_sentence %> on <b><%= edited_location.title %></b>
        <% else %>
          create a new <%= edited_location.booking_location ? 'child' : 'booking' %> location: <b></b><%= edited_location.title %></b>
        <% end %>
      </div>
      <div class="activity-badge">
        <em class="badge"><%= created_at.to_s(:govuk_date_short) %> (<%= time_ago_in_words(created_at)%> ago)</em>
      </div>
    </a>
    <div id="collapse-<%= edited_location.uid %>-<%= created_at.to_i %>" class="panel-collapse collapse">
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Field</th>
              <th>From</th>
              <th>To</th>
            </tr>
          </thead>
          <tbody class="t-edit">
            <% edits.sort_by(&:field).each do |edit| %>
              <tr>
                <td class="t-edited-field">
                  <%= edit.field.titlecase %>
                </td>
                <td class="t-edited-old">
                  <%= edit.old_value %>
                </td>
                <td class="t-edited-new">
                  <%= edit.new_value %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
