<div class="panel-group" id="activities" aria-expanded="true">
  <%- location_edits.each do |created_at, edits| %>
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#activities" href="#collapse-<%= created_at.to_i %>" class="activity panel-heading t-activity">
        <div class="activity-details">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <b><%= edits.first.editor.name %></b>
          <% if edits.first.action == 'edit' %>
            changed the <%= edits.map(&:field).sort.to_sentence %>
          <% else %>
            create a new location
          <% end %>
        </div>
        <div class="activity-badge">
          <em class="badge"><%= created_at.to_s(:govuk_date_short) %> (<%= time_ago_in_words(created_at)%> ago)</em>
        </div>
      </a>
      <div id="collapse-<%= created_at.to_i %>" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="activity-edit-header">
            <div class="activity-field">Field</div>
            <div class="activity-value">From</div>
            <div class="activity-value">To</div>
          </div>
          <% edits.sort_by(&:field).each do |edit| %>
            <div class="activity-edit">
              <div class="activity-field">
                <%= edit.field.titlecase %>
              </div>
              <div class="activity-value">
                <%= edit.old_value %>
              </div>
              <div class="activity-value">
                <%= edit.new_value %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
