<div class="panel-group" id="activities" aria-expanded="true">
  <%- location_edits.each do |created_at, edits| %>
    <div class="panel panel-default">
      <a data-toggle="collapse" data-parent="#activities" href="#collapse-<%= created_at.to_i %>" class="activity panel-heading t-activity">
        <div class="activity-details">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
          <b><%= edits.first.editor.name %></b>
          <% if edits.first.action == 'edit' %>
            changed the <%= edits.map(&:field).sort.to_sentence %>
          <% else %>
            create a new location
          <% end %>
        </div>
        <div class="activity-badge">
          <em class="badge"><%= created_at.to_s(:govuk_date_short) %> (<%= time_ago_in_words(created_at)%> ago)</em>
        </div>
      </a>
      <div id="collapse-<%= created_at.to_i %>" class="panel-collapse collapse">
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Field</th>
                <th>From</th>
                <th>To</th>
              </tr>
            </thead>
            <tbody>
              <% edits.sort_by(&:field).each do |edit| %>
                <tr>
                  <td>
                    <%= edit.field.titlecase %>
                  </td>
                  <td>
                    <%= edit.old_value %>
                  </td>
                  <td>
                    <%= edit.new_value %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>
