<div class="row">
  <div class="col-md-12">
    <h1>Edited Locations - <%=@date.to_s(:govuk_date) %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <nav>
      <ul class="pager">
        <li class="previous">
          <a class="t-previous-day" href="<%= admin_edited_locations_path(date: @date.prev_day) %>">
            <span aria-hidden="true">&larr;</span>
            <%= @date.prev_day.to_s(:govuk_date_short) %>
          </a>
        </li>
        <li class="next">
          <a class="t-next-day" href="<%= admin_edited_locations_path(date: @date.next_day) %>">
            <%= @date.next_day.to_s(:govuk_date_short) %>
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%- if @edited_locations.empty? %>
      <p class="no-content t-notice">No edited locations for <%= @date.to_s(:govuk_date) %>.</p>
    <% end %>
    <%- @edited_locations.each do |edited_location| %>
      <div class="row t-location" id="location-<%= edited_location.uid %>">
        <div class="col-md-12">
          <h2 class="inline-block">
            <%= link_to edited_location.title, admin_location_path(edited_location.uid), class: 't-location-title' %>
          </h2>
          <%- if edited_location.booking_location %>
            <span class="label label-primary label--inline">Child location</span>
          <% else %>
            <span class="label label-danger label--inline">Booking location</span>
          <% end %>

          <table class="table">
            <thead>
              <tr>
                <th>Field</th>
                <th>Old value</th>
                <th>New value</th>
                <th>Created at</th>
                <th>Edited by</th>
              </tr>
            </thead>
            <tbody>
              <%- edited_location.edits.each do |edit| %>
                <tr class="t-edit">
                  <td class="col-md-2 t-edited-field"><%= edit.field.titlecase %></td>
                  <td class="col-md-3 t-edited-old"><%= edit.old_value %></td>
                  <td class="col-md-3 t-edited-new"><%= edit.new_value %></td>
                  <td class="col-md-2 t-edited-created-at"><%= edit.created_at.to_s(:govuk_time) %></td>
                  <td class="col-md-2 t-edited-by"><%= edit.editor.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
