<div class="row">
  <div class="col-md-12">
    <h1>Edited Locations - <%=@date.to_s(:govuk_date) %></h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <nav>
      <ul class="pager">
        <li class="previous">
          <a class="t-previous-day" href="<%= admin_edited_locations_path(date: @date.prev_day) %>">
            <span aria-hidden="true">&larr;</span>
            <%= @date.prev_day.to_s(:govuk_date_short) %>
          </a>
        </li>
        <li class="next">
          <a class="t-next-day" href="<%= admin_edited_locations_path(date: @date.next_day) %>">
            <%= @date.next_day.to_s(:govuk_date_short) %>
            <span aria-hidden="true">&rarr;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @edited_locations.empty? %>
      <p class="no-content t-notice">No edited locations for <%= @date.to_s(:govuk_date) %>.</p>
    <% end %>
    <div class="panel-group" id="activities" aria-expanded="true">
      <% @edited_locations.each do |edited_location| %>
        <%= render 'edited_location', edited_location: edited_location %>
      <% end %>
    </div>
  </div>
</div>
